header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;  
  height: 400px;
  width: 100%;
  background-image: url(/images/asfalt-dark.png);
}

.parentOfHeader {
  background-color: lightsalmon;
  width: 100%;
}