nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em 0 1.5em;
  position: fixed;  
  top:0;
}
.spanNavDiv{
  height: 120px;
  line-height: 40px;
  float:left;
  display: flex;
  align-items: center;
}
span {
  font-family: 'Bungee', cursive; 
}

.textNavDiv{
  float: right;
  
}
#angleDoubleDown{

font-size: 40px;
color:red
}

.navBarText {
  margin-bottom: 0;
}

/* @media only screen and (min-width:1024px) {
  nav {
    background-color: blue;
    
  }
} */