div {
  border: 1px solid black;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  color: #44423b;
  background-color: lightskyblue;
  padding-top: 1em;
  padding-bottom: 1em;
}

.tweet-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color:#44423b;
  padding-bottom: 1em;
  border-bottom-width: 10px;
}



.tweet-box {
  background-color: #f4f1ec;
  border: 4px solid #6b685e;
  border-radius: 12px;
  margin-top: 50px;
}


#tweet-text {
  color: gray;
  background-color: #e9e6e0;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 5px solid black;
  font-weight: bold;
  margin: 0px 40px;
  border: none;
  resize: none;
}

.btn-container {
  color:gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: bungee;
  padding: 0px 25px 12px 40px;
}

.tweet-button{
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}





/*  Dynamic tweets style: */

article.tweet {
  border: 4px solid #545149;
  border-radius: 12px;
  padding: 10px 20px;
  color: #545149;
  font-family: "Source Sans Pro", sans-serif;
  opacity: 75%;
  margin: 2em 0;
  background-color: bisque;
}

article.tweet:hover {
  border: 4px solid #6b685e;
  padding: 10px 20px;
  box-shadow: 10px 10px #aaa7a0;
  font-weight: bold;
  opacity: 100%;
}

/* Tweet box header */
article.tweet .hdr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* User handle @name */
.handle {
  color: #545149;
  /* opacity: 0; */
}

article.tweet:hover .handle {
  color: #545149;
  opacity: 1;
}

/* Tweet footer */
article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

article.tweet footer:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
}




/*  icons */
.fas {
  margin-right: 5px;
  color:#545149;
}

.fas:hover {  
  color: white;
}


/* tweet quote */
.tweeter {
  color:#545149;
  background-color: bisque;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  resize: none;
  border-bottom: 3px solid #545149;
  font-weight: bold;
  padding: 1em 1em 1em 0;
  margin-bottom: 10px;
}


.error-msg {
  display: none;
  text-align: center;
  border: 4px solid red;
  color: red;
  font-family: Source Sans Pro, sans-serif;
  font-size: 20pt;
  margin: auto;
  margin-top: 30px;
  height: 40px;
}

#msg {
  display: inline;
  color: red;
}



















